@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("assets/car5.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    /* position: relative; */
    width: 400px;
    border: 3px solid salmon;
    background-color: rgba(22, 187, 238,0.4);
    padding: 30px 20px 30px;
    border-radius: 30px;
}
.conainer ,h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
.conainer ,.input_box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
#icon1,#icon2{
    position: absolute;
    right: 20px; 
    top: 50%;  
    transform: translatey(-50%); 
    font-size: 20px;
}
.input_box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffff;
    padding: 20px 45px 20px 20px;
}

.input_box input::placeholder{
    color: #ffff;
    text-decoration: black;
}
.remmeberme{
display: flex;
justify-content: space-between;
margin: 15px 0;
}
.remmeberme label input{
    accent-color: #fff;
    margin-right: 5px;
}
.remmeberme a{
    color: #fff;
    text-decoration: none;
}
.remmeberme a:hover{
    color: blue;
    text-decoration: underline;
}
.conainer,.btn{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 35px;
    /* box-shadow: 1,1,10px rgba(1, 15, 15, 2); */
    box-shadow: rgba(rgba(32, 140, 241, 0.5));
    cursor: pointer;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
.conainer,.rigister{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.rigister p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.rigister p a:hover{
    text-decoration: underline;
    color: blue;
}
@media only screen and (max-width:599px) {
    .container{
        margin: 0 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* land scap */
@media only screen and (min-width:600px) and (max-width:900px) {
    .container{
        /* margin: 0 20px; */
        padding-left: 5px;
        padding-right: 5px;
    }
}
